<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Leo Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="${leo.baseHref}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.258.1/aws-sdk.min.js"></script>
    <script type="text/javascript" src="${leo.static.uri}js/leoApiGateway.js"></script>

    <script type="text/javascript">
    	window.leo = ${leo};
	    LEOCognito.start(leo.cognito.id, false, {
			apiUri: "api/",
			region: leo.region
		});
    </script>
    <link rel="stylesheet" href="${leo.static.uri}css/index.css" />
    <script src="${leo.static.uri}js/common.js"></script>
    <script src="${leo.static.uri}js/index.js"></script>
</head>
<body>
<div id="root">

</div>
</body>
</html>
